<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-principal"></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">Descubra lugares fanstásticos!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="light">
  <ion-segment (ionChange)="alterarVisao($event)" value="todos">
    <ion-segment-button  value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="disponivel">
      <ion-label>Disponíveis</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="12" sizeLg="6" sizeMd="6" offsetSm="2" class="ion-text-center">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{lugaresCarregados[0].titulo}}</ion-card-title>
                    <ion-card-subtitle>{{lugaresCarregados[0].preco | currency : 'BRL'}}</ion-card-subtitle>
                </ion-card-header>
                <ion-img [src]="lugaresCarregados[0].imagemUrl"></ion-img>
                <ion-card-content>
                  <p>{{lugaresCarregados[0].descricao}}</p>
                </ion-card-content>
                <div class="ion-text-right ion-padding">
                    <ion-button
                        fill="clear"
                        color="primary"
                        [routerLink]="['/', 'lugares', 'tabs', 'procurar', 'lugar-detalhe', lugaresCarregados[0].id]"
                        >Mais...</ion-button>
                </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeLg="6" sizeMd="6" offsetSm="2" class="ion-text-center">
            <ion-list>
              <ion-item  *ngFor="let lugar of lugaresCarregados.slice(1)"
                         [routerLink]="['/', 'lugares','tabs', 'procurar', 'lugar-detalhe', lugar.id]"
                          detail>
                <ion-thumbnail slot="start">
                      <ion-img [src]="lugar.imagemUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                    <h2>{{lugar.titulo}}</h2>
                    <p>{{lugar.descricao}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-infinite-scroll>
              <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
